body {
    font-family: Arial, sans-serif;
    background-color: #5f5c5c;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #9fa1ac;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

.calculator {
    margin-top: 20px;
}

input, button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #2f343a;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #040505;
}

p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}